
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;

}

.headshot {
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.profile-box {
  background: rgba(255, 255, 255, .1);
  a {
    color: #fff;
  }
}

.navbar {
  padding: 0 0 0 10px;
}

.fa-heart-o {
  color: rgba(255, 0, 0, .7);
}

.contact-image {
  text-align: center;
  margin-top: 6px;
  position: relative;
  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, .2);
  }
}

.show {
  display: inline-block !important;
}
